@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h3 class="display-4">ASSESSMENT</h3>
    <hr />
    <h4>Desenvolvimento de Aplicações Web ASP .NET MVC e Web API</h4>
</div>
